@import "./variables";

.hero {
  position: inherit;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url("../images/hero_home.jpg") center center no-repeat fixed;
  display: flex;
  align-items: center;

  &__wrapper {
    display: flex;
    color: $lightColor;
    justify-content: space-between;
    align-items: center;
  }

  &__title-container {
    flex-basis: 70%;
  }

  &__min-title {
    font-size: $font-sizeTitleH3;
    color: $mainColor;
    font-family: $font-familyArizona;
  }

  &__title {
    font-size: $font-sizeTitleH1;
    font-weight: 700;
  }

  &__text {
    font-weight: 400;
    font-size: $font-sizeMain;
  }

  &__video {
    width: 90px;
    height: 90px;
    background: #fff;
    animation: pulse-orange 2s infinite;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__tab {
    width: 20%;
    display: flex;
    padding: 0;
    position: absolute;
    top: 88%;

    :first-child {
      margin: 0;
    }
  }

  &__tab-links {
    margin: 0 10px;
    background-color: $mainColor;
    cursor: pointer;
  }

  .active {
    background-color: $lightColor;
    color: $middleColor;
  }

  &__tab-links {
    display: inline-block;
    color: $lightColor;
    font-size: $font-sizeMain;
    font-weight: 700;
    padding: 10px 30px;
    white-space: nowrap;
    border-radius: 5px 5px 0 0;
  }

  &__tab-content-items {
    display: flex;
    background-color: $lightColor;
    position: absolute;
    top: 100%;
    padding: 0;

    :nth-last-child(-n+2) {
      border: none;
    }
  }

  &__tab-item {
    padding: 22px;
    border-right: 1px solid $middleLightColor;
    font-size: $font-sizeMain;

    &:last-of-type {
      background-color: $mainColor;
      border: none;
      display: flex;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }

  &__tab-title {
    font-weight: 700;
    font-size: $font-sizeMin;
    color: $mainColor;
    text-transform: uppercase;
    padding-bottom: 10px;
  }

  &__item-search {
    font-size: $font-sizeMain;
    color: $lightColor;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 40px;
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &__icon-item {
    color: $middleLightColor;
  }

  &__dropdown {
    position: relative;
    width: 185px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__dropdown-header {
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__dropdown-body {
    padding: 5px;
    border-top: 1px solid #E5E8EC;
    display: none;
  }

  &__dropdown-body.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    width: 100%;
    bottom: 0;
  }

  &__dropdown-item {
    padding: 10px;
  }

  &__dropdown-item:hover {
    cursor: pointer;
  }

  &__dropdown-item-dot {
    opacity: 0;
    color: #91A5BE;
    transition: all .2s ease-in-out;
  }

  &__dropdown-item-dot.selected {
    opacity: 1;
  }

  .my-node-enter {
    opacity: 0;
  }
  .my-node-enter-active {
    opacity: 1;
    transition: opacity 600ms;
  }
  .my-node-exit {
    opacity: 1;
  }
  .my-node-exit-active {
    opacity: 0;
    transition: opacity 600ms;
  }
}

